<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %} home {%endblock %} </title>
    <link  rel='stylesheet' href = "{% static 'css/style.css' %}" >
</head>
<body>
<navbar>
  <nav><a href = "{% url 'posts'%}">posts</a></nav>
 <nav><a href = "{% url 'user'%}">users</a></nav>
    <nav><a href = "{%url 'login'%}" >login baku </a></nav>
    <nav> <a href = "{%url 'register'%}">register a user baku</a></nav>
        <nav><a href = "{%url 'new-post' %}"> Make a new post</a>    </nav>
        <nav><form action = "{%url 'logout'%}"  method = 'POST'>
            {% csrf_token %}
           <button>logout baku</button>  </form></nav>




</navbar>

{%block content %}


<h1> This is my home page</h1>
<p> This is <a href = "{% url 'about'%}"> about</a> page</p>


{%endblock %}
</body>
</html>